 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="data:;base64,=">
    <style><%= raw(render("app.css")) %></style>
    <%= csrf_meta_tag() %>
    <%= if assigns[:page_title] do %>
      <%= live_title_tag @page_title %>
    <% else %>
      <title><%= @title %></title>
    <% end %>

    <link rel="manifest" href="/manifest.json ">
  </head>
  <body>
    <main class="main__content">
      <div class="main__wrap">
        <div class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <%= live_redirect "Home", to: @socket.router.__helpers__().home_path(@socket, :home) %>
            </li>
            <%= render_nav_menu(@resources, @socket, @base_path) %>
          </ul>
        </div>
        <div class="content">
          <%= @inner_content %>
        </div>
      </div>
    </main>
  </body>
   <script><%= raw(render("app.js")) %></script>
</html>
