<div>
  <h1 class="resource__title">
    <%= @resource %>
  </h1>

  <div class="float-right">
    <%= live_redirect "New", to: @socket.router.__helpers__().resource_path(@socket, :new, @key), class: "resource__action" %>
  </div>
</div>

<div class="flash">
  <p class="resource__error"><%= live_flash(@flash, :error) %></p>
  <p class="resource__info"><%= live_flash(@flash, :info) %></p>
</div>

<%= render "#{@live_action}.html", assigns %>
