<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="data:;base64,=">
    <style><%= raw(render("app.css")) %></style>
    <%= csrf_meta_tag() %>
    <%= if assigns[:page_title] do %>
      <%= live_title_tag @page_title %>
    <% else %>
      <title>Phoenix LiveAdmin</title>
    <% end %>

    <link rel="manifest" href="/manifest.json ">
  </head>
  <body>
    <main role="main">
      <div class="w-full flex flex-col sm:flex-row flex-grow overflow-hidden">
        <div class="sm:w-1/3 md:1/4 w-full flex-shrink flex-grow-0 p-4">
            <div class="sticky top-0 p-4 bg-gray-100 rounded-xl w-full">
                <ul class="flex sm:flex-col overflow-hidden content-center justify-between">
                    <li class="p-2 hover:bg-indigo-300 rounded">
                        <a class="truncate" href="#">
                          <span class="hidden sm:inline">
                            <%= live_redirect "Home", to: @socket.router.__helpers__().home_path(@socket, :home) %>
                          </span>
                        </a>
                    </li>
                    <%= for {key, {resource, _}} <- @resources do %>
                      <li class="p-2 hover:bg-indigo-300 rounded">
                        <a class="truncate" href="#">
                          <span class="hidden sm:inline">
                            <%= live_redirect resource, to: @socket.router.__helpers__().resource_path(@socket, :list, key) %>
                          </span>
                        </a>
                      </li>
                    <% end %>
                </ul>
            </div>
        </div>
        <main role="main" class="w-full h-full flex-grow p-3 overflow-auto">
          <%= @inner_content %>
        </main>
      </div>
    </main>
  </body>
   <script><%= raw(render("app.js")) %></script>
</html>
