<main class="main__content">
  <div class="main__wrap">
    <.nav title={@title} socket={@socket} resources={@resources} base_path={@base_path} />
    <div class="content">
      <%= @inner_content %>
    </div>
  </div>
</main>
