<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="data:;base64,=" />
    <title>{Keyword.fetch!(@config, :title)}</title>
    <style>
      <%= raw(render_css(@session)) %>
    </style>
    {csrf_meta_tag()}
    <link rel="manifest" href="/manifest.json " />
  </head>
  <body>
    {@inner_content}
  </body>
  <script>
    <%= raw(render_js()) %>
  </script>
</html>
