<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="data:;base64,=" />
    <title>{Keyword.fetch!(@config, :title)}</title>
    <style>
      <%= raw(render_css(@session)) %>
    </style>
    {csrf_meta_tag()}
    <link rel="manifest" href="/manifest.json " />
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="header-content">
        <div class="logo">{Keyword.fetch!(@config, :title)}</div>
        <div class="user-menu">
          <%= if assigns[:prefix_options] do %>
            <details class="btn-select">
              <summary>{@session.prefix || "No tenant selected"}</summary>
              <div class="settings-menu">
                <%= for prefix <- Map.get(assigns, :prefix_options, []) do %>
                  <.link navigate={LiveAdmin.route_with_params(assigns, params: [prefix: prefix])}>
                    {prefix}
                  </.link>
                <% end %>
              </div>
            </details>
          <% end %>

          <%= if LiveAdmin.use_i18n? do %>
            <details class="btn-select">
              <summary>{@session.locale || "No locale selected"}</summary>
              <div class="settings-menu">
                <%= for locale <- LiveAdmin.gettext_backend().locales() do %>
                  <a phx-click={
                    Phoenix.LiveView.JS.push("set_locale",
                      value: %{locale: locale},
                      page_loading: true
                    )
                  }>
                    {locale}
                  </a>
                <% end %>
              </div>
            </details>
          <% end %>
        </div>
      </div>
    </header>
    <div class="alert-bar" id="alert-bar">
      <div class="alert-content">
        <svg
          class="alert-icon"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          onclick="document.getElementById('alert-bar').classList.add('hidden'); document.body.style.paddingTop = '64px'; document.querySelector('.sidebar').style.top = '64px';"
          title="Close alert"
        >
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
        <span class="alert-message">{Phoenix.Flash.get(@flash, :success)}</span>
      </div>
    </div>
    {@inner_content}
  </body>
  <script>
    <%= raw(render_js()) %>
  </script>
</html>
