@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
    @apply md:text-5xl;
    @apply mb-4;
    @apply font-extrabold;
  }

  input, textarea {
    @apply relative ;
    @apply bg-white ;
    @apply rounded;
    @apply text-sm;
    @apply border;
    @apply outline-none;
    @apply focus:outline-none;
    @apply focus:ring;
    @apply p-1;
  }

  select {
    @apply appearance-none;
    @apply text-gray-700;
    @apply bg-white ;
    @apply bg-clip-padding ;
    @apply bg-no-repeat;
    @apply border ;
    @apply border-solid ;
    @apply border-gray-300;
    @apply rounded;
    @apply transition;
    @apply ease-in-out;
    @apply focus:text-gray-700 ;
    @apply focus:bg-white ;
    @apply focus:border-blue-600 ;
    @apply focus:outline-none;
  }
}

@layer components {
  .drop::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
  }

  .drop-down::before {
    transform: rotate(90deg) translateX(-3px);
  }

  .drop-up::before {
    transform: rotate(-90deg) translateX(3px);
  }

  .main__content {
    @apply flex;
    @apply flex-col;
  }

  .main__wrap {
    @apply flex;
    @apply overflow-hidden;
    @apply h-screen;
  }

  .nav {
    @apply bg-gray-100;
    @apply w-1/5;
    @apply p-4;
  }

  .nav__list {
    @apply overflow-hidden;
    @apply content-center;
    @apply justify-between;
  }

  .nav__list > .nav__item:first-of-type {
    @apply border-b;
    @apply mb-1;
  }

  .nav__item {
    @apply truncate;
  }

  .nav__item a {
    @apply hover:bg-indigo-300;
    @apply p-1;
    @apply m-1;
    @apply rounded;
  }

  .nav__item--active {
    @apply p-2;
    @apply truncate;
  }

  .nav__group {
    @apply pl-1;
  }

  .nav__item--drop input {
    @apply hidden;
  }

  .nav__item--drop label {
    @apply font-bold;
    cursor: pointer;
    transition: all 0.25s ease-out;
  }

  .nav__item--drop label {
    @apply drop;
  }

  .nav__item--drop input:checked + label {
    @apply drop-down;
  }

  .nav__item--drop ul {
    @apply hidden;
  }

  .nav__item--drop input:checked + label + ul {
    @apply list-item;
  }

  .content {
    @apply flex;
    @apply flex-col;
    @apply w-4/5;
    @apply p-2;
    @apply overflow-y-auto;
    @apply overflow-x-hidden;
  }

  .home__intro {
    @apply py-2;
    @apply text-xl;
  }

  .flash {
    @apply clear-both;
    @apply m-1;
  }

  .resource__banner {
    @apply flex;
    @apply bg-white;
    @apply whitespace-nowrap;
  }

  .resource__title {
    @apply flex-none;
  }

  .resource__actions {
    @apply flex-col;
    @apply flex-1;
    @apply items-center;
    @apply grid;
    @apply justify-items-end;
    @apply whitespace-nowrap;
  }

  .resource__action {
    @apply inline-flex;
    @apply items-center;
    @apply h-8;
  }

  .resource__action--btn {
    @apply resource__action;
    @apply px-4;
    @apply m-2;
    @apply text-sm;
    @apply text-indigo-100;
    @apply transition-colors;
    @apply duration-150;
    @apply bg-indigo-700;
    @apply hover:bg-indigo-800;
    @apply relative;
    @apply rounded-lg;
    @apply relative;
    @apply whitespace-nowrap;
  }

  .resource__action--disabled {
    @apply resource__action--btn;
    @apply text-gray-700;
    @apply bg-gray-100;
    @apply hover:bg-gray-100;
  }

  .resource__action--drop {
    @apply resource__action;
    @apply relative;
    @apply w-28;
  }

  .resource__action--drop button {
    @apply resource__action--btn;
    @apply w-28;
    @apply text-center;
  }

  .resource__action--drop nav {
    @apply appearance-none;
    @apply hidden;
    @apply absolute;
    @apply top-full;
    @apply left-0;
    @apply text-black;
    @apply bg-white;
    @apply border;
    @apply rounded-md;
    @apply w-full;
    @apply pl-2;
    @apply truncate;
    @apply z-50;
    @apply max-h-80;
    @apply overflow-y-scroll;
  }

  .resource__action--drop:focus-within nav {
    @apply block;
    @apply translate-y-1;
  }

  .resource__error {
    @apply text-red-500;
    @apply p-2;
    @apply border;
    @apply rounded-md;
    @apply bg-red-100;
  }

  .flash > p:empty {
    @apply hidden;
  }

  .resource__info {
    @apply p-2;
    @apply border;
    @apply rounded-md;
    @apply bg-blue-100;
  }

  .resource__list {
    @apply overflow-x-auto;
  }

  .list__search {
    @apply flex;
    @apply m-1;
  }

  .resource__table {
    @apply p-2;
    @apply m-1;
    @apply shadow-md;
    @apply rounded;
    @apply border-collapse;
    @apply border;
  }

  .resource__header {
    @apply bg-indigo-100;
    @apply border;
    @apply text-left;
    @apply px-8;
    @apply py-4;
    @apply whitespace-nowrap;
  }

  .header__link--down {
    @apply drop;
    @apply drop-down;
  }

  .header__link--up {
    @apply drop;
    @apply drop-up;
  }

  .resource__cell {
    @apply border;
    @apply px-4;
    @apply py-2;
  }

  .cell__contents {
    @apply max-h-20;
    @apply overflow-y-auto;
  }

  .resource__form {
    @apply shadow-md;
    @apply rounded;
    @apply border-collapse;
    @apply border;
    @apply w-3/4;
    @apply shadow-md;
    @apply p-2;
    @apply m-1;
    @apply w-full;
  }

  .form__actions {
    @apply text-right;
  }

  .form__save {
    @apply inline-flex;
    @apply items-center;
    @apply h-8;
    @apply px-4;
    @apply m-2;
    @apply text-sm;
    @apply text-indigo-100;
    @apply transition-colors;
    @apply duration-150;
    @apply bg-indigo-700;
    @apply rounded-lg;
    @apply hover:bg-indigo-800;
  }

  .form__save--disabled {
    @apply form__save;
    @apply text-gray-700;
    @apply bg-gray-100;
    @apply hover:bg-gray-100;
  }

  .embed__title {
    @apply mb-2;
    @apply uppercase;
    @apply font-bold;
    @apply text-lg;
  }

  .embed__group {
    @apply flex;
    @apply flex-col;
    @apply mb-4;
    @apply ml-4;
  }

  .field__group {
    @apply flex;
    @apply flex-col;
    @apply mb-4;
  }

  .disabled {
    @apply text-gray-200;
  }

  .field__group--disabled {
    @apply field__group;
  }

  .field__group--disabled * {
    @apply disabled;
  }

  .field__label {
    @apply mb-2 uppercase;
    @apply font-bold;
    @apply text-lg;
  }

  .field__text {
    @apply mb-2;
    @apply font-bold;
    @apply text-lg;
  }

  .field__checkbox {
    @apply scale-150;
  }

  .field__number {
    @apply border;
    @apply p-1;
    @apply w-20;
  }

  .field__date {
    @apply w-32;
  }

  .field__select {
    @apply w-32;
  }

  .form__checkbox, .form__number, .form__time {
    @apply flex-none;
    @apply ml-1;
  }
}
