@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply bg-inherit;
  }

  h1 {
    @apply text-3xl;
    @apply md:text-5xl;
    @apply mb-4;
    @apply font-extrabold;
  }

  input, textarea {
    @apply relative;
    @apply rounded;
    @apply text-sm;
    @apply border;
    @apply outline-none;
    @apply focus:outline-none;
    @apply focus:ring;
    @apply p-1;
  }

  select {
    @apply appearance-none;
    @apply bg-clip-padding;
    @apply bg-no-repeat;
    @apply border;
    @apply border-solid;
    @apply rounded;
    @apply transition;
    @apply ease-in-out;
    @apply focus:outline-none;
  }
}

@layer components {
  .topbar {
    @apply bg-transparent;
  }

  .disabled {
    @apply opacity-30;
  }

  .drop::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
  }

  .drop-down::before {
    transform: rotate(90deg) translateX(-3px);
  }

  .drop-up::before {
    transform: rotate(-90deg) translateX(3px);
  }

  .main__content {
    @apply flex;
    @apply flex-col;
  }

  .main__wrap {
    @apply flex;
    @apply overflow-hidden;
    @apply h-screen;
  }

  .nav {
    @apply w-1/5;
    @apply p-4;
  }

  .nav__list {
    @apply overflow-hidden;
    @apply content-center;
    @apply justify-between;
  }

  .nav__list > .nav__item:first-of-type {
    @apply border-b;
    @apply pb-3;
    @apply mb-2;
    @apply text-3xl;
  }

  .nav__item {
    @apply truncate;
  }

  .nav__item a {
    @apply p-1;
    @apply m-1;
    @apply ml-3;
    @apply rounded;
  }

  .nav__item--active {
    @apply p-2;
    @apply truncate;
  }

  .nav__group {
    @apply pl-1;
  }

  .nav__item--drop {
    @apply whitespace-nowrap;
  }

  .nav__item--drop input {
    @apply hidden;
  }

  .nav__item--drop label {
    @apply pl-1;
    @apply font-bold;
    cursor: pointer;
    transition: all 0.25s ease-out;
  }

  .nav__item--drop label {
    @apply drop;
  }

  .nav__item--drop input:checked + label {
    @apply drop-down;
  }

  .nav__item--drop ul {
    @apply hidden;
  }

  .nav__item--drop input:checked + label + ul {
    @apply list-item;
  }

  .content {
    @apply flex;
    @apply flex-col;
    @apply w-4/5;
    @apply p-2;
    @apply overflow-y-auto;
    @apply overflow-x-hidden;
  }

  .home__intro {
    @apply py-2;
    @apply text-xl;
  }

  .resource__banner {
    @apply grid;
    @apply grid-cols-1;
    @apply md:grid-cols-2;
    @apply whitespace-nowrap;
  }

  .resource__title {
    @apply grid;
    @apply items-center;
    @apply justify-items-center;
    @apply md:justify-items-end;
    @apply h-full;
    direction: rtl;
  }

  .resource__actions {
    @apply flex-col;
    @apply flex-1;
    @apply items-center;
    @apply grid;
    @apply justify-items-center;
    @apply md:justify-items-end;
    @apply whitespace-nowrap;
  }

  .resource__action {
    @apply inline-flex;
    @apply items-center;
    @apply h-8;
  }

  .resource__action--btn {
    @apply resource__action;
    @apply px-4;
    @apply m-2;
    @apply text-sm;
    @apply transition-colors;
    @apply duration-150;
    @apply relative;
    @apply rounded-lg;
    @apply relative;
    @apply whitespace-nowrap;
    @apply border;
  }

  .resource__action--disabled {
    @apply resource__action--btn;
    @apply disabled;
  }

  .resource__action--drop {
    @apply resource__action;
    @apply relative;
  }

  [class$="--drop"] nav {
    @apply appearance-none;
    @apply hidden;
    @apply absolute;
    @apply top-full;
    @apply left-0;
    @apply border;
    @apply rounded-md;
    @apply pl-2;
    @apply truncate;
    @apply z-50;
    @apply max-h-80;
    @apply overflow-y-scroll;
    @apply p-1;
    @apply ml-2;
  }

  [class$="--drop"]:focus-within nav {
    @apply block;
    @apply translate-y-1;
    @apply bg-white;
  }

  [class$="--drop"] nav a:hover {
    @apply underline;
  }

  [class^="resource__cell"] nav li:last-child:not(:only-child) {
    @apply border-t;
    @apply mt-1;
  }

  .resource__list {
    @apply overflow-x-auto;
  }

  .list__search {
    @apply bg-transparent;
    @apply flex;
    @apply m-1;
  }

  .list__search input {
    @apply px-4;
    @apply py-1;
    @apply w-60;
    @apply border-0;
    @apply h-8;
  }

  .list__search svg {
    @apply w-5;
    @apply h-5;
  }

  .resource__table {
    @apply p-2;
    @apply m-1;
    @apply shadow-md;
    @apply rounded;
    @apply border-collapse;
    @apply border;
  }

  .resource__header {
    @apply border;
    @apply text-left;
    @apply px-8;
    @apply py-4;
    @apply whitespace-nowrap;
  }

  .header__link--down {
    @apply drop;
    @apply drop-down;
  }

  .header__link--up {
    @apply drop;
    @apply drop-up;
  }

  [class^="resource__cell"] {
    @apply border;
    @apply px-4;
    @apply py-2;
    @apply relative;
    @apply h-20;
  }

  [class^="resource__cell"]:hover {
    @apply cursor-pointer;
    @apply delay-100;
  }

  .cell__contents {
    @apply overflow-y-auto;
    @apply flex;
    @apply h-full;
    @apply w-full;
    @apply justify-center;
    align-items: safe center;
  }

  .cell__copy {
    @apply cursor-pointer;
  }

  .resource__form {
    @apply shadow-md;
    @apply rounded;
    @apply border-collapse;
    @apply border;
    @apply w-3/4;
    @apply shadow-md;
    @apply p-2;
    @apply m-1;
    @apply w-full;
  }

  .form__actions {
    @apply text-right;
  }

  .embed__title {
    @apply mb-2;
    @apply uppercase;
    @apply font-bold;
    @apply text-lg;
  }

  .embed__group {
    @apply flex;
    @apply flex-col;
    @apply mb-4;
    @apply ml-4;
  }

  .field__group {
    @apply flex;
    @apply flex-col;
    @apply mb-4;
  }


  .field__group--disabled {
    @apply field__group;
    @apply disabled;
  }

  .field__label {
    @apply mb-2 uppercase;
    @apply font-bold;
    @apply text-lg;
  }

  .field__text {
    @apply mb-2;
    @apply font-bold;
    @apply text-lg;
  }

  .field__checkbox {
    @apply scale-150;
  }

  .field__checkbox--group {
    @apply grid;
    grid-template-columns: auto minmax(0, 1fr);
    @apply gap-1;
    @apply justify-items-start;
    @apply ml-3;
  }

  .field__array > div {
    @apply flex;
    @apply items-center;
    @apply mb-2;
    @apply ml-2;
  }

  .field__array > div:not(.form__actions) > a {
    @apply shrink-0;
    @apply mr-2;
    content: " ";
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 30 30'><path d='M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031   26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z' /></svg>");
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .field__array input {
    @apply mb-0;
  }

  .field__number {
    @apply border;
    @apply p-1;
    @apply w-20;
  }

  .field__date {
    @apply w-32;
  }

  .field__select {
    @apply w-32;
  }

  .form__checkbox, .form__number, .form__time {
    @apply flex-none;
    @apply ml-1;
  }

  .toast__container {
    @apply fixed;
    @apply w-48;
    @apply z-40;
    @apply rounded;
    @apply p-1;
    @apply text-center;
    @apply border;
    @apply bottom-5;

    left: 50%;
    top: auto !important;
    transform: translate(-50%, -50%) !important;
  }

  .toast__container--error {
    @apply toast__container;
    top: auto !important;
    transform: translate(-50%, -50%) !important;
  }

  .toast__container--success {
    @apply toast__container;
    top: auto !important;
    transform: translate(-50%, -50%) !important;
  }
}
