@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply bg-inherit;
  }

  h1 {
    @apply text-3xl;
    @apply md:text-5xl;
    @apply mb-4;
    @apply font-extrabold;
  }

  input, textarea {
    @apply relative;
    @apply rounded;
    @apply text-sm;
    @apply border;
    @apply outline-none;
    @apply focus:outline-none;
    @apply focus:ring;
    @apply p-1;
    @apply overflow-hidden;
  }

  select {
    @apply appearance-none;
    @apply bg-clip-padding;
    @apply bg-no-repeat;
    @apply border;
    @apply border-solid;
    @apply rounded;
    @apply transition;
    @apply ease-in-out;
    @apply focus:outline-none;
    @apply w-32;
    @apply p-1;
  }
}

input[type="date"], input[type="number"] {
  @apply w-32;
}

input[type="submit"] {
  @apply cursor-pointer;
};

@layer components {
  .view__container {
    @apply overflow-y-auto;
  }

  #list .table__wrapper {
    @apply overflow-auto;
    @apply max-h-full;
  }

  #prefix-select nav {
    @apply overflow-y-auto;
  }

  .topbar {
    @apply bg-transparent;
  }

  .disabled {
    @apply opacity-30;
  }

  .drop::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
  }

  .drop-down::before {
    transform: rotate(90deg) translateX(-3px);
  }

  .drop-up::before {
    transform: rotate(-90deg) translateX(3px);
  }

  .button__add {
    @apply inline-block;
    content: " ";
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'><path stroke-linecap='round' stroke-linejoin='round' d='M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z'/></svg>");
  }

  .button__remove {
    @apply inline-block;
    content: " ";
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'><path stroke-linecap='round' stroke-linejoin='round' d='M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z'/></svg>");
  }

  .button__up {
    @apply inline-block;
    content: " ";
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'><path stroke-linecap='round' stroke-linejoin='round' d='M15 11.25l-3-3m0 0l-3 3m3-3v7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z' /></svg>");
  }

  .button__down {
    @apply inline-block;
    content: " ";
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'><path stroke-linecap='round' stroke-linejoin='round' d='M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z' /></svg>");
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }

  input[class$="-loading"] + div nav:before {
    content: '';
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;

    @apply absolute;
    @apply top-1;
    @apply right-1;
  }

  .button__remove, .button__add {
    @apply opacity-50;
  }

  .button__remove:hover, .button__add:hover {
    @apply opacity-100;
  }

  .search_select {
    @apply flex;
    @apply flex-row;
    @apply content-center;
  }

  .search_select nav {
    @apply w-full;
  }

  .search_select .button__remove {
    @apply mr-1;
  }

  .main__content {
    @apply flex;
    @apply flex-col;
  }

  .main__wrap {
    @apply flex;
    @apply overflow-hidden;
    @apply h-screen;
  }

  .nav {
    @apply overflow-y-auto;
    @apply w-1/5;
    @apply p-4;
  }

  .nav__list {
    @apply content-center;
    @apply justify-between;
  }

  .nav__list > .nav__item:first-of-type {
    @apply pb-5;
    @apply text-3xl;
    @apply font-bold;
    @apply text-center;
  }

  .nav__item {
    @apply truncate;
  }

  .nav__item--drop {
    @apply ml-1;
  }

  .nav__item--drop > ul {
    @apply ml-4;
  }

  .nav__item--group {
    @apply nav__item;
    @apply border-b;
    @apply py-1;
    @apply flex;
    @apply flex-col;
  }

  .nav__item--selected {
    @apply nav__item;
  }

  .nav__item--selected a {
    @apply underline;
    @apply decoration-dotted;
  }

  .nav__item a {
    @apply p-1;
    @apply rounded;
  }

  .nav__item--active {
    @apply p-2;
    @apply truncate;
  }

  .nav__item--drop {
    @apply whitespace-nowrap;
  }

  .nav__item--drop input {
    @apply hidden;
  }

  .nav__item--drop label {
    @apply pl-1;
    @apply font-bold;
    cursor: pointer;
    transition: all 0.25s ease-out;
  }

  .nav__item--drop label {
    @apply drop;
  }

  .nav__item--drop input:checked + label {
    @apply drop-down;
  }

  .nav__item--drop ul {
    @apply hidden;
  }

  .nav__item--drop input:checked + label + ul {
    @apply list-item;
  }

  .content {
    @apply flex;
    @apply flex-col;
    @apply w-4/5;
    @apply p-2;
  }

  .home__intro {
    @apply py-2;
    @apply text-xl;
  }

  .resource__banner {
    @apply grid;
    @apply grid-cols-1;
    @apply lg:grid-cols-2;
    @apply whitespace-nowrap;
    @apply overflow-x-clip;
    @apply mb-2;
  }

  .resource__title {
    @apply grid;
    @apply items-center;
    @apply justify-items-center;
    @apply lg:justify-items-end;
    @apply h-full;
    direction: rtl;
  }

  .resource__actions {
    @apply flex-col;
    @apply flex-1;
    @apply items-center;
    @apply grid;
    @apply justify-items-center;
    @apply lg:justify-items-end;
    @apply whitespace-nowrap;
  }

  .resource__actions > div > * {
    @apply ml-2;
  }

  .resource__action {
    @apply inline-flex;
    @apply h-8;
  }

  .resource__action--link:hover {
    @apply underline;
  }

  .resource__action--btn, .resource__action--secondary {
    @apply resource__action;
    @apply items-center;
    @apply px-4;
    @apply text-sm;
    @apply transition-colors;
    @apply duration-150;
    @apply relative;
    @apply rounded-lg;
    @apply relative;
    @apply whitespace-nowrap;
    @apply border;
  }

  .resource__action--disabled {
    @apply resource__action--btn;
    @apply disabled;
  }

  .resource__action--danger {
    @apply resource__action--btn;
  }

  .resource__action--drop {
    @apply resource__action;
  }

  [class$="--drop"] {
    @apply flex-col;
  }

  [class$="--drop"] > div {
    @apply relative;
  }

  [class$="--drop"] nav {
    @apply appearance-none;
    @apply hidden;
    @apply absolute;
    @apply left-0;
    @apply border;
    @apply rounded-md;
    @apply pl-2;
    @apply truncate;
    @apply z-50;
    @apply max-h-80;
    @apply p-1;
  }

  [class$="--drop"] div:first-child nav {
    @apply bottom-2;
  }

  [class$="--drop"] div:last-child nav {
    @apply top-1;
  }

  [class$="--drop"]:focus-within nav {
    @apply block;
  }

  [class$="--drop"] nav a:hover {
    @apply underline;
  }

  .resource__view dd {
    @apply mb-3;
  }

  #index-page {
    @apply overflow-x-auto;
  }

  tfoot td {
    @apply p-1;
  }

  .list__search {
    @apply bg-transparent;
    @apply flex;
    @apply m-1;
  }

  .list__search input {
    @apply px-4;
    @apply py-1;
    @apply w-60;
    @apply border-0;
    @apply h-8;
  }

  .list__search svg {
    @apply w-5;
    @apply h-5;
  }

  .resource__table {
    @apply p-2;
    @apply m-1;
    @apply shadow-md;
    @apply rounded;
    @apply border-collapse;
    @apply border;
    @apply relative;
  }

  .resource__table th {
    @apply sticky;
    @apply z-10;
    @apply top-0;
  }

  .resource__table tfoot td {
    @apply p-1;
    @apply bottom-0;
  }

  .resource__table dd {
    @apply mb-5;
  }

  .resource__header {
    @apply border;
    @apply px-8;
    @apply py-4;
    @apply whitespace-nowrap;
  }

  .header__link--down {
    @apply drop;
    @apply drop-down;
  }

  .header__link--up {
    @apply drop;
    @apply drop-up;
  }

  [class^="resource__cell"] {
    @apply px-4;
    @apply py-2;
    @apply h-20;
    @apply relative;
  }

  .resource__cell:not(:first-child) .cell__contents {
    @apply overflow-y-auto;
  }

  .cell__contents {
    @apply flex;
    @apply flex-col;
    @apply h-full;
    @apply w-full;
    @apply justify-center;
    align-items: safe center;
  }

  .resource__menu--drop svg {
    @apply w-5;
    @apply h-5;
  }

  .cell__copy {
    @apply cursor-pointer;
  }

  .resource__form {
    @apply shadow-md;
    @apply rounded;
    @apply border-collapse;
    @apply border;
    @apply w-3/4;
    @apply shadow-md;
    @apply p-2;
    @apply m-1;
    @apply w-full;
  }

  .form__actions {
    @apply flex;
    @apply justify-end;
  }

  .form__actions > * {
    @apply ml-1;
  }

  .table__actions {
    @apply flex;
  }

  .table__actions * {
    @apply mr-2;
  }

  .embed__sort, .embed__drop {
    @apply hidden;
  }

  .embed__title {
    @apply mb-2;
    @apply uppercase;
    @apply font-bold;
    @apply text-lg;
  }

  .embed__group {
    @apply border-l;
    @apply border-dashed;
    @apply pb-5;
    @apply relative;
    @apply ml-3;
  }

  .embed__group .button__add {
    @apply absolute;
    @apply -bottom-2;
    @apply -left-3;
  }

  .embed__item > .button__remove {
    @apply absolute;
    @apply -top-2;
    @apply -left-2;
  }

  .embed__item > .button__up {
    @apply absolute;
    @apply -top-2;
    @apply -right-2;
  }

  .embed__item > .button__down {
    @apply absolute;
    @apply -bottom-2;
    @apply -right-2;
  }

  .embed__item {
    @apply relative;
    @apply border;
    @apply border-dotted;
    @apply ml-5;
    @apply mt-3;
  }

  .embed__item > div {
    @apply flex-col;
    @apply p-3;
    @apply grow;
  }

  .field__group {
    @apply flex;
    @apply flex-col;
    @apply mb-4;
  }


  .field__group--disabled {
    @apply field__group;
    @apply disabled;
  }

  .field__label {
    @apply mb-2 uppercase;
    @apply font-bold;
    @apply text-lg;
  }

  .checkbox__group input {
    @apply scale-150;
  }

  .checkbox__group label {
    @apply ml-1;
  }

  .checkbox__group {
    @apply grid;
    grid-template-columns: auto minmax(0, 1fr);
    @apply gap-1;
    @apply justify-items-start;
    @apply ml-3;
  }

  .field__array--group {
    @apply relative;
    @apply pb-6;
  }

  .field__array--group a.button__add {
    @apply absolute;
    @apply -left-0;
    @apply -bottom-1;
  }

  .field__array--group > div {
    @apply flex;
    @apply items-center;
    @apply mb-2;
  }

  .field__array--group > div > a {
    @apply shrink-0;
    @apply mr-2;
  }

  .field__array--group input {
    @apply mb-0;
  }

  .field__map--group > div {
    @apply relative;
    @apply pb-6;
  }

  .field__map--group a.button__remove {
    @apply shrink-0;
    @apply mr-2;
  }

  .field__map--group a.button__add {
    @apply absolute;
    @apply left-0;
    @apply bottom-0;
  }

  .field__map--row {
    @apply flex;
    @apply items-center;
    @apply mb-2;
  }

  .field__map--row textarea {
    @apply mb-0;
    @apply mr-2;
    @apply w-1/4;
  }

  .toast__container {
    @apply fixed;
    @apply w-48;
    @apply z-40;
    @apply rounded;
    @apply p-1;
    @apply text-center;
    @apply border;
    @apply bottom-5;
    @apply text-clip;
    @apply overflow-hidden;

    left: 50%;
    top: auto !important;
    transform: translate(-50%, -50%) !important;
  }

  [class^="toast__container"]:empty {
    display: none;
  }

  .toast__container--info {
    @apply toast__container;
    top: auto !important;
    transform: translate(-50%, -50%) !important;
  }

  .toast__container--error {
    @apply toast__container;
    top: auto !important;
    transform: translate(-50%, -50%) !important;
  }

  .toast__container--success {
    @apply toast__container;
    top: auto !important;
    transform: translate(-50%, -50%) !important;
  }
}

.cell__icons {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 0.25rem;
}

.cell__icons div {
  cursor: pointer;
  @apply mx-1;
}

[class^="resource__cell"]:hover .cell__icons {
  @apply flex;
}

.resource__cell svg {
  @apply w-6;
  @apply h-6;
}

.field__assoc--link {
  @apply leading-9;
  @apply underline;
  vertical-align: bottom;
}

.field__assoc--link:hover::after {
  @apply leading-9;
  @apply inline-block;
  content: " ";
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='w-5 h-5'><path fill-rule='evenodd' d='M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z' clip-rule='evenodd' /><path fill-rule='evenodd' d='M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z' clip-rule='evenodd' /></svg>");
  width: 20px;
  height: 20px;
  @apply ml-2;
  @apply ml-2;
}

.modal {
  @apply fixed;
  @apply hidden;
  @apply inset-0;
  @apply bg-gray-600;
  @apply bg-opacity-50;
  @apply overflow-y-auto;
  @apply h-full;
  @apply w-full;
  @apply z-50;
  @apply m-0;
}

.modal > div {
  @apply relative;
  @apply top-20;
  @apply mx-auto;
  @apply p-5;
  @apply border;
  @apply w-1/4;
  @apply shadow-lg;
  @apply rounded-md;
  @apply bg-white;
  @apply whitespace-normal;
}

.modal form {
  @apply flex;
  @apply flex-col;
  @apply mt-3;
}

.modal label {
  @apply flex;
  @apply h-7;
  @apply w-7;
  @apply rounded-full;
  @apply bg-gray-100;
  @apply items-center;
  @apply justify-center;
  @apply mr-2;
}

.modal input {
  @apply grow;
}

.modal__title {
  @apply text-lg;
  @apply font-bold;
}

.modal form > div {
  @apply flex;
  @apply my-1;
}

.modal form > div:last-of-type {
  @apply mb-3;
}

.docs {
  @apply whitespace-pre-wrap;
  @apply block;
  @apply font-mono;
  @apply rounded;
  @apply bg-gray-100;
  @apply p-2;
  @apply my-2;
}
