     .alert-bar {
         border-bottom: 1px solid #C15846;
     }

     .btn {
         text-decoration: none;
     }

     .btn-danger {
         background: #C15846;
         color:#fff;
     }

     .btn-danger {
         background: #C15846;
         color:#fff;
     }

     .btn-danger:hover {
         background: indianred;
     }

     .nav-subitems .nav-icon {
         display:none;
     }


     .detail-subtitle + .detail-subtitle::before {
        content: "|";
     }

     pre {
         overflow:scroll;
     }

     th {
         white-space: nowrap;
     }

     .cell-content {
         max-width: 100%;
     }

     .cell-icons {
       position: absolute;
       bottom: 2px;
       right: 2px;
       gap: 4px;
       z-index: 1;
       height:20px;
       width:36px;
       background:#eee;
       padding:2px;
       border-radius: 4px;
       border:1px;
       display:none;
     }

     .data-table td:not(:first-child):hover .cell-icons {
        display:flex;
     }

     .expand-icon, .copy-icon {
         display:inline-block;
         position:relative;
         width: 14px;
         height: 14px;
         opacity: 0;
         transition: opacity 0.2s;
         cursor: pointer;
         color: #86868b;
         bottom:0;
         right:0;
     }

     .modal-content {
         min-width: 50%;
     }

     h1 > span {
         opacity: .5;
     }

     .edit-view {
         display: block;
     }

     .nav-progress-section:not(:has(*)) {
         display:none;
     }

     .resource-link {
         color:#444;
         text-decoration-style: dashed;
     }

     .resource-link:hover {
         color:#333;
     }
