.tabs {
    display: flex;
    border-bottom: 1px solid var(--border-light);
    padding: 0px;
    justify-content: right;
}

.tabs a {
    padding: 4px 2px;
    font-size: 11px;
    font-weight: 700;
    color: var(--text-light);
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: none;
    flex: 1;
    max-width: 200px;
    transition: all 0.2s ease;
    border-left: dashed 1px var(--border-medium);
    align-content: center;
    text-align: center;
}

.tabs a:hover {
    color: var(--text-light);
    background-color: var(--bg-light);
}

.tabs a.active {
    color: var(--text-dark);
    font-weight: 700;
    background-color: var(--bg-light);
}

#main-link.active {
    visibility: hidden;
}

#main-link {
    margin-right: auto;
    border: none;
    border-right: 2px solid var(--border-light);
}

#main-link:before {
    content: "\2190";
    font-size: 16px;
    font-weight: 400;
}
